body{
    margin: 0;
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F2A44;
    padding: 20px;
    border-bottom: 4px solid #FBBF24;
}

#txtfoto {
    display: flex;
    align-items: center;
    gap: 15px;
}

#txtfoto img {
    width: 80px;
}

#kayo {
    color: #FBBF24;
    margin: 0;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav a:hover {
    color: #FBBF24;
}




    

#avalia {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 300px;

}


#avaliacao{     
    background-color: #55cfff;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}


